@tailwind base;
@tailwind components;
@tailwind utilities;


  .site-content {
    position: relative;
    min-height: 100vh; /* Ensure it covers at least the viewport height */
  }
  

 

  html {
    scroll-behavior: smooth;
  }

  .site-content {
    position: relative;
    min-height: 100vh; /* Ensure it covers at least the viewport height */
  }

